* text=auto eol=lf

*.css linguist-detectable=false  
*.js linguist-detectable=false  
*.scss linguist-detectable=false
*.html linguist-detectable=false 
*.php linguist-detectable=true  
*.blade.php linguist-detectable=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
